@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 300;
}

.container {
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  margin: 0 auto;

}

@media (min-width: 1441px) {
  body {
    justify-content: center;
    display: flex;
  }
}

.experience {
  position: absolute;
  top: 306px;
  left: 0;
 
  object-fit: cover;
  z-index: 3;
}
.experience-shapes,
.experience-shapes1 {
  position: absolute;
  border-radius: 20px;
  background-color: #f7f7f7;

  z-index: 1;
}
.experience-shapes1 {
  top: 378px;
  left: 158px;
  height: 301px;
  width: 495px;
}
.experience-shapes {
  position: absolute;
  top: 250px;
  left: -237px;
  width: 629px;
  height: 445px;
  object-fit: cover;
}
.content-container {
  position: absolute;
  right: 150px;
  top: 300px;
}
.content-title p {
  font-size: 18px;
  font-family: "Gilroy", serif;
  font-weight: 600;
  color: #e58411;
}
.content-experience p {
  max-width: 556px;
  font-size: 18px;
  font-family: "Gilroy", serif;
  font-weight: 400;
  line-height: 33.3px;
  color: #1e1e1eb5;
  margin: 20px 0px;
}
.content-subtitle h1 {
  max-width: 413px;
  font-size: 42px;
  font-family: "Gilroy", serif;
  font-weight: 700;
  margin: 20px 0px;
}
.more-info {
  display: flex;
  gap: 20px;
  align-items: center;
}
.more-info a {
  color: #e58411;
  font-family: "Gilroy", serif;
  font-weight: 500;
  font-size: 14px;
}
